!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HomeBudget
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if Rails.env.development?
      %script{src: 'http://localhost:8080/static/react_bundle.js'}
    = render 'shared/header'
    .container
      .row
        = yield
